.amazing {
    &__container {
        width: 120rem;
        margin: 0 auto;
        position: relative;
    }

    .images {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        @media only screen and (max-width: $bp-large) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__item {
            margin: 1rem;

            @media only screen and (max-width: $bp-large) {
                width: 60rem;

            }
        }
    }

    &__info {
        width: 70rem;
        height: 30rem;
        position: absolute;
        top: 30%;
        left: 20%;

        @media only screen and (max-width: $bp-large) {
            position: absolute;
            top: -20%;
            left: 20%;
        }
    }

    .info {
        background-color: $color-white;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        &__title {
            font-size: 5rem;
            font-family: 'Cookie', cursive;

        }

        &__text {
            font-size: 1.8rem;
            text-align: justify;
            margin: 0 5rem;
            text-indent: 3rem;

        }

        &__btn {
            display: flex;
            justify-content: center;

            .button {
                background-image: linear-gradient(to right, rgba(209, 125, 67, 1), rgba(69, 83, 150, 1));
                width: 14.3rem;
                height: 4rem;
                text-transform: uppercase;
                font-size: 1.6rem;
                font-weight: bold;
                color: $color-btn-header;
                border-radius: 10rem;
                border: transparent;
                background-color: $color-white;
                cursor: pointer;
            }
        }
    }
}