.cards {
    &__container {
        width: 120rem;
        min-height: 45rem;
        margin: -18rem auto 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &:first-child {
            @media only screen and (max-width: $bp-large) {
                display: none;
            }
        }

        .cards__item {
            width: 37rem;
            //min-height: 41.4rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border-radius: 1rem;
            align-items: center;
            box-shadow: 0 1rem 1rem $color-shadow;

            .cards__img {
                width: 100%;
            }

            .cards__title {
                font-size: 2.5rem;
                color: $color-black;
            }

            .cards__text {
                font-size: 1.6rem;
                color: $color-black;
                width: 22.8rem;
                text-align: justify;
            }

            .cards__btn {
                width: 15rem;
                margin-bottom: -2rem;

                .gradient__button {
                    background-image: linear-gradient(to right, rgba(209, 125, 67, 1), rgba(69, 83, 150, 1));
                    font-size: 1.6rem;
                    color: $color-black;
                    text-transform: uppercase;
                    width: 14.3rem;
                    height: 4rem;
                    border-radius: 3rem;
                    border: none;
                    margin: 0 auto 0 auto;

                }
            }
        }
    }
}