.creative {
    color: $color-black;

    &__container {
        display: flex;
        flex-direction: row;
        width: 120rem;
        min-height: 80rem;
        margin: 5rem auto;

        .left {
            display: flex;
            flex-direction: column;


            &__title {
                font-family: 'Cookie', cursive;
                font-size: 5rem;
                width: 30rem;
                margin-bottom: 3rem;

            }

            &__info {
                font-size: 1.8rem;
                width: 38rem;
                margin-bottom: 3rem;
            }

            &__btn {
                width: 15rem;
                margin-bottom: -2rem;

                .button {
                    background-image: linear-gradient(to right, rgba(209, 125, 67, 1), rgba(69, 83, 150, 1));
                    font-size: 1.6rem;
                    color: $color-black;
                    text-transform: uppercase;
                    width: 14.3rem;
                    height: 4rem;
                    border-radius: 3rem;
                    border: none;
                    margin: 0 auto 0 auto;

                }
            }
        }

        .center {
            min-width: 46rem;

        }

        .creative__right {
            margin-left: 5rem;
        }

        .right {
            display: flex;
            flex-direction: column;


            &__sign {
                font-size: 10rem;
                font-family: 'Sriracha', cursive;
                margin-bottom: -10rem;

            }

            &__info {
                font-size: 1.8rem;
                margin-top: 5rem;
            }

            &__name {
                font-family: 'Cookie', cursive;
                font-size: 5rem;
                text-align: end;
            }
        }

    }
}