.footer {
  .footer-top {
    min-height: 38.9rem;
    background-image: url("../../img/footer1.png");
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    font-size: 5rem;
    color: $color-white;
    font-family: "Cookie", cursive;
    margin: 5rem 0;
  }

  .footer__social {
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: space-around;

    i {
      font-size: 10rem;
      color: $color-white;
    }
  }

  .bottom {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 35rem;
    font-size: 1.6rem;

    &__item {
      flex-basis: 33.333%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-top: 8rem;

      &:last-child {
        flex-basis: 100%;
        font-size: 1.8rem;
      }
    }
    &__text {
      margin-left: 3rem;
      width: 15rem;
      .span {
        margin-right: 6rem;
        font-size: 1.8rem;
        font-weight: bold;
      }
    }
  }
}
