.price {
    display: flex;
    flex-direction: row;
    position: relative;
    min-height: 80rem;

    .left {
        background-image: linear-gradient(to top, #de813c, #3f519a);
        flex-basis: 30%;
    }

    &--left {
        width: 100%;
    }

    .right {
        display: flex;
        flex-direction: column;
        flex-basis: 70%;
        justify-content: flex-start;
        align-items: flex-end;

        &__title {
            font-size: 5rem;
            font-family: "Cookie", cursive;
        }

        &__subtitle {
            font-size: 1.8rem;
            width: 48rem;
        }

        &__text {
            font-size: 1.8rem;
            width: 48rem;
        }
    }

    &__promo {
        position: absolute;
        color: $color-black;
        background-color: $color-white;
        top: 5rem;
        left: 32rem;
        width: 50rem;
        min-height: 58rem;
    }

    .promo {
        display: flex;
        flex-direction: column;

        &__title {
            font-size: 5rem;
            font-family: "Cookie", cursive;
        }

        &__subtitle {
            font-size: 1.8rem;
        }

        &__cost {
            font-size: 11rem;
            color: #de813c;
        }

        &__text {
            font-size: 1.8rem;
            width: 30rem;

            span {
                font-size: 2.4rem;
                font-weight: bold;
            }
        }
    }

    .item {
        font-size: 1.8rem;
        background-image: linear-gradient(to top, #de813c, #3f519a);
        position: absolute;
        top: 5rem;
        left: 82rem;
        width: 50rem;
        min-height: 58rem;
    }


}