.price {
    display: flex;
    flex-direction: row;
    position: relative;
    min-height: 80rem;

    .left {
        background-image: linear-gradient(to top, #de813c, #3f519a);
        flex-basis: 54%;
    }

    &--left {
        width: 100%;
    }

    .right {
        display: flex;
        flex-direction: column;
        flex-basis: 70%;
        justify-content: flex-start;
        align-items: flex-end;
        margin-right: 2rem;


        &__title {
            font-size: 5.4rem;
            font-family: "Cookie", cursive;
            width: 35rem;
            margin-right: 12rem;
            margin-top: 12rem;
        }

        &__subtitle {
            font-size: 1.8rem;
            width: 48rem;
            font-weight: bold;
            margin: 2.5rem 0;
        }

        &__text {
            font-size: 1.8rem;
            width: 48rem;
        }
    }

    &__promo {
        position: absolute;
        color: $color-black;
        background-color: $color-white;
        top: 5rem;
        left: 32rem;
        width: 50rem;
        min-height: 58rem;
    }

    .promo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &__title {
            font-size: 5rem;
            font-family: "Cookie", cursive;
        }

        &__subtitle {
            font-size: 1.8rem;
        }

        &__cost {
            font-size: 11rem;
            color: #de813c;
        }

        &__text {
            font-size: 1.8rem;
            width: 30rem;

            &-title {
                font-size: 2.4rem;
                font-weight: bold;
                width: 100%;
                margin-bottom: 1.5rem;
                text-align: center;
            }
        }
    }

    .item {
        font-size: 1.8rem;
        background-image: linear-gradient(to top, #de813c, #3f519a);
        position: absolute;
        top: 5rem;
        left: 82rem;
        width: 50rem;
        min-height: 58rem;
        color: $color-white;
        display: flex;
        flex-direction: column;
        align-items: center;


        &__title {
            font-size: 7.4rem;
            margin-top: 8rem;
            font-weight: bold;
        }

        &__subtitle {
            font-size: 2.5rem;
        }

        &__list {
            list-style-type: none;
        }

        &__list-variant {
            margin-bottom: 1.5rem;
        }
    }


}