.services {
    &__container {
        display: flex;
        flex-direction: row;
        background-color: #f4f4f4;
        justify-content: space-between;
        width: 100%;
        position: relative;
        min-height: 66.3rem;
    }

    .info {
        flex-basis: 55%;
        flex-direction: column;
        text-align: center;

        &__title {
            font-size: 5rem;
            font-family: 'Cookie', cursive;
            margin: 3rem auto;
        }

        &__text {
            font-size: 1.8rem;
            margin: 3rem auto;
            width: 48rem;
        }

        &__btn {
            display: flex;
            justify-content: center;


            .button {
                background-image: linear-gradient(to right, rgba(209, 125, 67, 1), rgba(69, 83, 150, 1));
                width: 14.3rem;
                height: 4rem;
                text-transform: uppercase;
                font-size: 1.6rem;
                font-weight: bold;
                color: $color-btn-header;
                border-radius: 10rem;
                border: transparent;
                background-color: $color-white;
                cursor: pointer;
            }
        }
    }

    .image {
        flex-basis: 45%;
        background-image: url(../../img/serve.png);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .variants {
        background-image: linear-gradient(to top, #de813c, #3f519a);
        color: $color-white;
        display: flex;
        flex-direction: fow;
        flex-wrap: wrap;

        &__item {
            flex-basis: 50%;
            text-align: center;
            padding: 5rem;
        }
    }

    .services__variants {
        width: 36rem;
        height: 48rem;
        position: absolute;
        top: 3rem;
        left: 50%;
    }
}