.team {
  &__container {
    display: flex;
    flex-direction: column;
    margin: 3rem auto;
    width: $bp-largest;
  }

  &__title {
    font-size: 5rem;
    font-family: "Cookie", cursive;
    text-align: center;

    @media only screen and (max-width: $bp-small) {
      width: 50rem;

    }
  }

  &__subtitle {
    min-height: 15rem;
    font-size: 1.8rem;
    margin: 3rem auto;
    width: 68rem;
    text-align: justify;
    text-indent: 4rem;
    padding: 1rem;

    @media only screen and (max-width: $bp-small) {
      width: 50rem;
      text-align: left;

    }
  }

  .persons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: lightgrey;

    @media only screen and (max-width: $bp-small) {
      flex-direction: column;
      align-items: flex-start;
      margin-left: 15%;

    }

    &__item {
      margin-top: -3rem;

      .persons__name {
        font-size: 2.5rem;
        color: brown;

      }

      .persons__profession {
        font-size: 1.3rem;
      }
    }
  }

  .team_persons:first-child {
    color: hotpink;

    @media only screen and (max-width: $bp-medium) {
      background-color: hotpink;
    }
  }

}